@keyframes border-animation {
    0% {
      border-width: 0px;
      border-color: transparent;
    }
    25% {
      border-width: 2px;
      border-color: transparent;
    }
    50% {
      border-width: 2px;
      border-color: #42db34; 
    }
    75% {
      border-width: 2px;
      border-color: transparent;
    }
    100% {
      border-width: 0px;
      border-color: transparent;
    }
  }
  
  .nav-item {
    position: relative;
    display: inline-block;
    padding: 8px 16px; 
    font-size: 16px;
    transition: transform 1s ease; 
  
  }
  
  .nav-item:hover {
    cursor: pointer;
    /* transform: scale(1.1);  */
    animation: border-animation 1s ease-in-out;
    border: 2px solid transparent; 
  }